.available-hours-container {
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 5px;
  
}

.available-hours-title {
    font-size: 1.2rem;
    color: #454242;
    margin-bottom: 1rem;
    font-family: 'Poppins';
}

.available-hours-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: start; /* Distribute items evenly with space between */
}

.available-hour {
    width: calc(10% - 20px); /* Three items per row with some spacing */
    background: #fff;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}