html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F1F1F1; /* Ensure the background color is applied to the entire viewport */
}

 .background {
    display: flex;
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack items vertically */
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    max-width: 100%; /* Set maximum width */
    max-height: 100%; /* Set maximum height */
    overflow: auto; /* Enable scrolling when content overflows */
    background-color: #F1F1F1; 
} 

.navbar-container { 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
    background: #84BD98;
    justify-content: center;
    align-items: center;
    gap: 869px;
    display: inline-flex;
}

.navbar-items{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    display: inline-flex;
}

.navbar-item {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    word-wrap: "break-word";
 
}

.description-container{
    left: 120px;
    top: 136px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.go-back-button{
    width: 271px;
    background: #AFD4BC;
    border-radius: 1000px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 15px;
    border: none; /* Remove the border */
    outline: none; /* Remove the focus outline */
    cursor: pointer;

    
}

.go-back-button-text{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #F1F1F1;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    word-wrap: break-word;
}


.title-container{
    width: 334px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: inline-flex;
    margin-bottom: -40px;
}



.price-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #84BD98;
    justify-content: center;
    align-items: center;
    gap: 36px;
    display: flex;
    width: 40px

}

.price{
    text-align: center;
    color: #F1F1F1;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    word-wrap: break-word;
}

.header-2{
    width: 419px;
    color: #454242;
    font-size: 38px;
    font-family: "Oleo Script Swash Caps";
    font-weight: 400;
    word-wrap: break-word;
}